---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1322
.archive, article.page {
    width: 100%;
    max-width: 900px;
    float: none;
    margin: 2rem auto;
}

// desmos iframe
.align-center, iframe.desmos {
  width: 80%;
  max-width: 600px;
  height: auto;
  border: 0;
  display: block;       // removes inline spacing issues
  margin: 2rem auto;
}

/* Initialize counter */
body {
  counter-reset: problem-counter;
}

/* Each problem increases counter */
.problem {
  counter-increment: problem-counter;
  position: relative;
  margin: 1.5em 0;
  padding: 0.5em 1em;
  border-left: 3px solid #888;
}

/* Auto-generate title */
.problem::before {
  content: "Problem " counter(problem-counter) ".";
  font-style: italic;
  display: block;
  margin-bottom: 0.5em;
}

/* QED box */
.problem::after {
  content: "□";
  display: block;
  text-align: right;
  margin-top: 1em;
}
