---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://github.com/mmistakes/minimal-mistakes/issues/1322
.archive, article.page {
    float: left;
    width: 100%;
}

// desmos iframe
iframe.desmos {
  max-width: 500px;   // control desktop width
  width: 80%;
  aspect-ratio: 1 / 1;  // change this to match original ratio
  border: 0;
  display: block;       // removes inline spacing issues
  margin: 2rem auto;
}
